server {
  listen 80;
  server_name {{ wp_instance_name }} {{ wp_instance_name }}.at.ispras.ru;
  access_log /var/log/nginx/{{ wp_instance_name }}-access.log;
  error_log /var/log/nginx/{{ wp_instance_name }}-error.log;

  location ~ /.well-known {
    allow all;
    root /var/www/webroot;
  }
}
